@page "/patientdetails/{Id:int}"

@using ProDiet.Services
@using Microsoft.AspNetCore.Components
@using ProDiet.Models
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@using Microsoft.AspNetCore.Http;
@using ProDiet.Data.Enums
@using ProDiet.Pages.Components
@inject UserManager<IdentityUser> userManager
@inject IPatientStoresService iPatientStoresService
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager


@if (_patient==null)
{
    <p><em>Nie możesz wyświetlić danych tego pacjenta</em></p>
}

else
{

    <MudTabs Elevation="2" Rounded="true" ApplyEffectsToContainer="true" PanelClass="pa-6">
        <MudTabPanel Text="Dane pacjenta">
            <MudCardContent>
                <div>
                    <div>
                        <div class="d-inline pa-1 mud-theme-primary">Imię</div>
                        <div class="d-inline pa-1 mud-theme-dark">@_patient.FirstName</div>
                    </div>
                    <div>
                        <div class="d-inline pa-1 mud-theme-primary">Nazwisko</div>
                        <div class="d-inline pa-1 mud-theme-dark">@_patient.LastName</div>
                    </div>
                    <div>
                        <div class="d-inline pa-1 mud-theme-primary">Email</div>
                        <div class="d-inline pa-1 mud-theme-dark">@_patient.Email</div>
                    </div>
                    <div>
                        <div class="d-inline pa-1 mud-theme-primary">Numer telefonu</div>
                        <div class="d-inline pa-1 mud-theme-dark">@_patient.PhoneNumber</div>
                    </div>
                </div>
            </MudCardContent>
        </MudTabPanel>
        <MudTabPanel Text="Tab Two">
            <MudText>Content Two</MudText>
        </MudTabPanel>
        <MudTabPanel Text="Tab Three">
            <MudText>Content Three</MudText>
        </MudTabPanel>
        <MudTabPanel Text="Tab Disabled" Disabled="true">
            <MudText>Content Disabled</MudText>
        </MudTabPanel>
    </MudTabs>
    
    
}


@code {
    private ProDiet.Models.Patient _patient { get; set; }

    [Parameter]
    public int Id { get; set; }

    private bool _checkOwner = false;



    protected override async Task OnInitializedAsync()
    {
        var user = httpContextAccessor.HttpContext.User;
        var userId = userManager.GetUserId(user);
        _checkOwner= await iPatientStoresService.CheckOwner(userId, Id);
        if (_checkOwner)
        {
            _patient = await iPatientStoresService.GetPatientData(Id);
        }
        else
        {
            _patient = null;
        }

        base.OnInitializedAsync();
    }
    

}
