@using Microsoft.AspNetCore.Components.Authorization
@using ProDiet.Areas.Identity
@inject NavigationManager Navigation
@inject TokenProvider TokenProvider


<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage/Index">
            Mój profil
        </a>
        <form action="/Identity/Account/Logout?returnUrl=%2F" method="post">
            <button class="nav-link btn-link" type="submit">Wyloguj</button>
            <input name="__RequestVerificationToken" type="hidden"
                   value="@TokenProvider.XsrfToken"/>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Rejestracja</a>
        <a href="Identity/Account/Login">Logowanie</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
