@inherits LayoutComponentBase

<PageTitle>ProDiet</PageTitle>


<MudThemeProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>
<div class="page" id="backgroundgradient">
    <AuthorizeView>
    <Authorized>
        <div class="sidebar" id="topbargradient">
            <NavMenu/>
        </div>
    </Authorized>
    </AuthorizeView>

    <main>
        <div class="top-row px-4" id="topbargradient" >
            <LoginDisplay/>
        </div>

        <article class="content px-4" >
            @Body
        </article>
    </main>
</div>
