
<div class="top-row ps-3 navbar navbar-dark" id="topbargradient" >
    <div class="container-fluid">
        <a class="navbar-brand" href="">ProDiet</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<AuthorizeView Roles="Admin">
    <Authorized>
        <div class="@NavMenuCssClass"  @onclick="ToggleNavMenu" >
            <nav class="flex-column">
                <div>Menu administratora</div>
                <div class="nav-item px-3" style="color: white">
                    <NavLink class="nav-link" href="adminproducts">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Zarządzaj produktami
                    </NavLink>
                </div>
                <div class="nav-item px-3" style="color: white">
                    <NavLink class="nav-link" href="admindishes">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Zarządzaj daniami
                    </NavLink>
                </div>
            </nav>
        </div>
    </Authorized>
</AuthorizeView>
<AuthorizeView>
    <Authorized>
        <div class="@NavMenuCssClass HideWhenPrint"  @onclick="ToggleNavMenu" >
        <nav class="flex-column">
            <div class="nav-item px-3" style="color: white">
                <NavLink class="nav-link" href="patients">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Pacjenci
                </NavLink>
            </div>
            <div class="nav-item px-3" style="color: white">
                <NavLink class="nav-link" href="products">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Moje produkty
                </NavLink>
            </div>
            <div class="nav-item px-3" style="color: white">
                <NavLink class="nav-link" href="allproducts">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Wszystkie produkty
                </NavLink>
            </div>
            <div class="nav-item px-3" style="color: white">
                <NavLink class="nav-link" href="mydishes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Moje dania
                </NavLink>
            </div>
            <div class="nav-item px-3" style="color: white">
                <NavLink class="nav-link" href="alldishes">
                    <span class="oi oi-list-rich" aria-hidden="true"></span> Wszystkie dania
                </NavLink>
            </div>
        </nav>
    </div>
    </Authorized>

</AuthorizeView>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
