@page "/"


<PageTitle>Strona głowna</PageTitle>
<body style="height: 100%; margin: 0">
<AuthorizeView>
    
    <Authorized>
        <h1 align="center">Witaj w aplikacji ProDiet!</h1>

    </Authorized>
    <NotAuthorized>
        
        <div style="background-image: url('backgroundimg.jpg')">
            <h1>Witaj w aplikacji ProDiet!</h1>
            <a href="Identity/Account/Register">
                <MudButton Variant="Variant.Filled" Color="Color.Info"> Zarejestruj się</MudButton>
            </a>
            <a href="Identity/Account/Login">
                <MudButton Variant="Variant.Filled" Color="Color.Success"> Zaloguj się</MudButton>
            </a>
        </div>
        
    </NotAuthorized>
    
</AuthorizeView>
</body>


