@page "/patients"
@using ProDiet.Services
@using Microsoft.AspNetCore.Components
@using ProDiet.Models
@using Microsoft.AspNetCore.Identity;
@using System.Security.Claims
@using Microsoft.AspNetCore.Http;
@using ProDiet.Data.Enums
@inject UserManager<IdentityUser> userManager;
@inject IPatientStoresService iPatientStoresService;
@inject IHttpContextAccessor httpContextAccessor
@inject NavigationManager navigationManager;


<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPatientModal">
    Dodaj nowego pacjenta
</button>

@*<div class="modal fade" id="addPatientModal" tabindex="-1" role="dialog" aria-labelledby="addPatientModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addPatientModalLabel">Dodaj nowego pacjenta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                <button type="button" class="btn btn-primary">Zapisz</button>
            </div>
        </div>
    </div>
</div>*@


<EditForm Model="_patient" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <ValidationSummary></ValidationSummary>
    <div class="form-group">
        <div>
            <h4>Dane pacjenta</h4>
            <div class="row">
                <div class="col-sm-6">
                    <label for="FirstName">Imię</label>
                    <InputText id="FirstName" @bind-Value="_patient.FirstName" placeholder="First name" class="form-control">
                    </InputText>
                </div>
                <div class="col-sm-6">
                    <label for="LastName">Nazwisko</label>
                    <InputText id="LastName" @bind-Value="_patient.LastName" placeholder="Last name" class="form-control"></InputText>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <label for="Gender">Płeć</label>
                    <InputSelect id="Gender" @bind-Value="_patient.Gender" placeholder="Gender" class="form-control">
                        @foreach (var gender in Enum.GetValues(typeof(Gender)))
                        {
                            <option value="@gender">@gender</option>
                        }
                    </InputSelect>
                </div>
                <div class="col-sm-6">
                    <label for="DateOfBirth">Data urodzenia</label>
                    <InputDate @bind-Value="_patient.BirthDate" >
                    </InputDate>
                </div>
            </div>
            <div class="row"><div class="col-sm-6">
                    <label for="Email">Adres e-mail</label>
                    <InputText id="Email" @bind-Value="_patient.Email" placeholder="Email" class="form-control"></InputText>
                </div>
                <div class="col-sm-6">
                    <label for="PhoneNumber">Numer telefonu</label>
                    <InputText id="PhoneNumber" @bind-Value="_patient.PhoneNumber" placeholder="PhoneNumber" class="form-control"></InputText>
                </div>
                </div>
        </div>
         </div>
    <button type="submit">Submit</button>
</EditForm>


@code
{

    //private UserManager<User> _userManager;
    private ProDiet.Models.Patient _patient;




    protected override void OnInitialized()
    {
        _patient = new ProDiet.Models.Patient();
        base.OnInitialized();
    }

    private void OnValidSubmit()
    {
        
        var user = httpContextAccessor.HttpContext.User;
        var id = userManager.GetUserId(user);
        _patient.CreatedBy = id;
        _patient.CreatedAt = DateTime.Now;
        iPatientStoresService.AddPatient(_patient);
        navigationManager.NavigateTo("/patient");
    }

}
